# GCP SA jsons
creds*

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Secret yamls - use sealedsecret.yaml explicitly in the repo
secret.yaml
secret.yml
secrets.yaml
secrets.yml